.slideshow-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 100%;
}

.img-slideshow {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    max-width: 100%;
    animation: zoomIn 8s ease-in infinite;
}


@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}



.slideshow-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;

    p {
        max-width: 700px;
        padding-left: 32px;
        margin-left: 120px;
        color: white;
        font-size: 80px;
        border-left: 8px solid #d85050;
    }
}


.fadeIn {
    animation: fadeInAnimation 1s ease-in-out;
}


@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}